* {
  font-family: Helvetica, sans-serif;
}
body {
  background-color: #D1E8E4;
}
.container {
display: flex;
justify-content: center;
background-color: #D1E8E4;
}
button {
background-color: #571a26;
color: #fff;
border: none;
text-transform: uppercase;
margin-top: 20px;
padding: 15px;
border-radius: 20px;
}
img {
  border-radius: 20px;
}